*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F5ECD5;

}

.nav{
    background-color: #A4B465;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav ul li{
    display: inline;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav h1{
    color: white;
}

#hero {
    position: relative;
    background-image: url('images/upscalemedia-transformed\ \(1\).jpeg');
    background-size: cover;
    background-position: center;
    height: 100dvh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.5;
}

#hero h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

#hero p {
    font-size: 2.1rem;
    margin-bottom: 20px;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* lapisan gelap agar teks lebih terlihat */
    z-index: 1;
}

.hero-text {
    position: relative;
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    color: white;
    opacity: 0; /* Mulai dari transparan */
    animation: fadeInHero 1.2s ease-in forwards; /* Animasi fade in */
}

@keyframes fadeInHero {
    from {
        opacity: 0;
        transform: translateY(8px); /* Sedikit turun */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#sejarah{
    padding: 100px 20px;
}

.sejarah-text{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

#tradisi{
    padding: 100px 20px;
}

.tradisi-content{
    max-width: 800px;
    margin: 0 auto;
}

.tradisi-content h2{
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.tradisi-list{
    display: flex;
    justify-content: space-between;
}

.card h5{
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.card{
    background-color: #F5ECD5;
    padding: 10px;
    border-radius: 5px;
    color: black;
    width: 49%;
    border: #626F47 1px solid;
}

.card img{
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;
}

.card-text{
    padding: 0 10px;
}

.btn{
    background-color: #626F47;
    color: white;
    margin: 10px 0;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    
}

.btn a{
    text-decoration: none;
}

.btn span{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
}

#kondisi{
    padding: 100px 20px;
}

.kondisi-content{
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;

}

#footer{
    background-color: #A4B465;
    padding: 20px 0;
    text-align: center;
    color: white;
}

#footer p{
    margin-bottom: 15px;
}